FSD/P4/fs_standalone.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 (http://www.xmlspy.com) by Gary Simons (SIL International) -->
<!--DTD generated by XML Spy v4.3 (http://www.xmlspy.com)-->
<!ELEMENT alt EMPTY>
<!ATTLIST alt
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	targets IDREFS #REQUIRED
	mode (excl | incl) #IMPLIED
	weights CDATA #IMPLIED
	wScale (perc | real) #IMPLIED
	TEIform CDATA "alt"
>
<!ELEMENT any EMPTY>
<!ATTLIST any
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "any"
>
<!ELEMENT dft EMPTY>
<!ATTLIST dft
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "dft"
>
<!ELEMENT f (null | (plus | minus | any | none | dft | uncertain | sym | nbr | msr | rate | str | vAlt | alt | fs)*)>
<!ATTLIST f
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	name NMTOKEN #REQUIRED
	org (single | set | bag | list) #IMPLIED
	rel (eq | ne | sb | ns) "eq"
	fVal IDREFS #IMPLIED
	TEIform CDATA "f"
>
<!ELEMENT fAlt (((f) | fs | fAlt), ((f) | fs | fAlt)+)>
<!ATTLIST fAlt
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	mutExcl (Y | N) #IMPLIED
	TEIform CDATA "fAlt"
>
<!ELEMENT fLib ((f) | fAlt)*>
<!ATTLIST fLib
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "fLib"
>
<!ELEMENT fs ((f) | fAlt | alt)*>
<!ATTLIST fs
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	feats IDREFS #IMPLIED
	rel (eq | ne | sb | ns) "sb"
	TEIform CDATA "fs"
>
<!ELEMENT fsLib ((fs) | vAlt)*>
<!ATTLIST fsLib
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "fsLib"
>
<!ELEMENT fvLib ((plus) | minus | any | none | dft | uncertain | null | sym | nbr | msr | rate | str | vAlt)*>
<!ATTLIST fvLib
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "fvLib"
>
<!ELEMENT minus EMPTY>
<!ATTLIST minus
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "minus"
>
<!ELEMENT msr EMPTY>
<!ATTLIST msr
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #REQUIRED
	valueTo CDATA #IMPLIED
	unit CDATA #REQUIRED
	rel (eq | ne | lt | le | gt | ge) "eq"
	type (int | real) #IMPLIED
	TEIform CDATA "msr"
>
<!ELEMENT nbr EMPTY>
<!ATTLIST nbr
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #REQUIRED
	valueTo CDATA #IMPLIED
	rel (eq | ne | lt | le | gt | ge) "eq"
	type (int | real) #IMPLIED
	TEIform CDATA "nbr"
>
<!ELEMENT none EMPTY>
<!ATTLIST none
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "none"
>
<!ELEMENT null EMPTY>
<!ATTLIST null
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "null"
>
<!ELEMENT plus EMPTY>
<!ATTLIST plus
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "plus"
>
<!ELEMENT rate EMPTY>
<!ATTLIST rate
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #REQUIRED
	valueTo CDATA #IMPLIED
	unit CDATA #IMPLIED
	per CDATA #REQUIRED
	rel (eq | ne | gt | ge | lt | le) "eq"
	type (int | real) #IMPLIED
	TEIform CDATA "rate"
>
<!ELEMENT str (#PCDATA)>
<!ATTLIST str
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	rel (eq | ne | sb | ns | lt | le | gt | ge) "eq"
	TEIform CDATA "str"
>
<!ELEMENT sym EMPTY>
<!ATTLIST sym
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #REQUIRED
	rel (eq | ne) "eq"
	TEIform CDATA "sym"
>
<!ELEMENT uncertain EMPTY>
<!ATTLIST uncertain
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "uncertain"
>
<!ELEMENT vAlt (((plus) | minus | any | none | dft | uncertain | null | sym | nbr | msr | rate | str | vAlt | fs), ((plus) | minus | any | none | dft | uncertain | null | sym | nbr | msr | rate | str | vAlt | fs)+)>
<!ATTLIST vAlt
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	mutExcl (Y | N) #IMPLIED
	TEIform CDATA "vAlt"
>
