FSD/P4/fsd_standalone.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 (http://www.xmlspy.com) by Gary Simons (SIL International) -->
<!--DTD generated by XML Spy v4.3 (http://www.xmlspy.com)-->
<!--Plain DTD for a TEI FSD (Feature Structure Declaration)

teiHeader and %paraContent; (for the Descr elements) are changed to #PCDATA
so as not to bring in half of the TEI DTD
G. Simons, 21 Sep 2002
-->
<!ELEMENT alt EMPTY>
<!ATTLIST alt
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	targets IDREFS #REQUIRED
	mode (excl | incl) #IMPLIED
	weights CDATA #IMPLIED
	wScale (perc | real) #IMPLIED
	TEIform CDATA "alt"
>
<!ELEMENT any EMPTY>
<!ATTLIST any
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "any"
>
<!ELEMENT bicond (((fs) | f | fAlt), (iff), ((fs) | f | fAlt))>
<!ATTLIST bicond
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "bicond"
>
<!ELEMENT cond (((fs) | f | fAlt), (then), ((fs) | f | fAlt))>
<!ATTLIST cond
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "cond"
>
<!ELEMENT dft EMPTY>
<!ATTLIST dft
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "dft"
>
<!ELEMENT f (null | (plus | minus | any | none | dft | uncertain | sym | nbr | msr | rate | str | vAlt | alt | fs)*)>
<!ATTLIST f
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	name NMTOKEN #REQUIRED
	org (single | set | bag | list) #IMPLIED
	rel (eq | ne | sb | ns) "eq"
	fVal IDREFS #IMPLIED
	TEIform CDATA "f"
>
<!ELEMENT fAlt (((f) | fs | fAlt), ((f) | fs | fAlt)+)>
<!ATTLIST fAlt
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	mutExcl (Y | N) #IMPLIED
	TEIform CDATA "fAlt"
>
<!ELEMENT fDecl ((fDescr)?, (vRange), (vDefault)?)>
<!ATTLIST fDecl
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	name NMTOKEN #REQUIRED
	org (unit | set | bag | list) "unit"
	TEIform CDATA "fDecl"
>
<!ELEMENT fDescr (#PCDATA)>
<!ATTLIST fDescr
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "fDescr"
>
<!ELEMENT fLib ((f) | fAlt)*>
<!ATTLIST fLib
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "fLib"
>
<!ELEMENT fs ((f) | fAlt | alt)*>
<!ATTLIST fs
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	feats IDREFS #IMPLIED
	rel (eq | ne | sb | ns) "sb"
	TEIform CDATA "fs"
>
<!ELEMENT fsConstraints (cond | bicond)*>
<!ATTLIST fsConstraints
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "fsConstraints"
>
<!ELEMENT fsDecl ((fsDescr)?, (fDecl)+, (fsConstraints)?)>
<!ATTLIST fsDecl
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #REQUIRED
	baseType CDATA #IMPLIED
	TEIform CDATA "fsDecl"
>
<!ELEMENT fsDescr (#PCDATA)>
<!ATTLIST fsDescr
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "fsDescr"
>
<!ELEMENT fsLib ((fs) | vAlt)*>
<!ATTLIST fsLib
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "fsLib"
>
<!ELEMENT fvLib ((plus) | minus | any | none | dft | uncertain | null | sym | nbr | msr | rate | str | vAlt)*>
<!ATTLIST fvLib
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "fvLib"
>
<!ELEMENT if (((fs) | f | fAlt), (then), (alt | fs | vAlt | null | minus | plus | any | none | dft | msr | nbr | rate | str | sym | uncertain))>
<!ATTLIST if
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "if"
>
<!ELEMENT iff EMPTY>
<!ATTLIST iff
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "iff"
>
<!ELEMENT minus EMPTY>
<!ATTLIST minus
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "minus"
>
<!ELEMENT msr EMPTY>
<!ATTLIST msr
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #REQUIRED
	valueTo CDATA #IMPLIED
	unit CDATA #REQUIRED
	rel (eq | ne | lt | le | gt | ge) "eq"
	type (int | real) #IMPLIED
	TEIform CDATA "msr"
>
<!ELEMENT nbr EMPTY>
<!ATTLIST nbr
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #REQUIRED
	valueTo CDATA #IMPLIED
	rel (eq | ne | lt | le | gt | ge) "eq"
	type (int | real) #IMPLIED
	TEIform CDATA "nbr"
>
<!ELEMENT none EMPTY>
<!ATTLIST none
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "none"
>
<!ELEMENT null EMPTY>
<!ATTLIST null
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "null"
>
<!ELEMENT plus EMPTY>
<!ATTLIST plus
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "plus"
>
<!ELEMENT rate EMPTY>
<!ATTLIST rate
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #REQUIRED
	valueTo CDATA #IMPLIED
	unit CDATA #IMPLIED
	per CDATA #REQUIRED
	rel (eq | ne | gt | ge | lt | le) "eq"
	type (int | real) #IMPLIED
	TEIform CDATA "rate"
>
<!ELEMENT str (#PCDATA)>
<!ATTLIST str
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	rel (eq | ne | sb | ns | lt | le | gt | ge) "eq"
	TEIform CDATA "str"
>
<!ELEMENT sym EMPTY>
<!ATTLIST sym
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #REQUIRED
	rel (eq | ne) "eq"
	TEIform CDATA "sym"
>
<!ELEMENT teiFsd2 ((teiHeader), (fsDecl)+)>
<!ATTLIST teiFsd2
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "teiFsd2"
>
<!ELEMENT teiHeader (#PCDATA)>
<!ELEMENT then EMPTY>
<!ATTLIST then
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "then"
>
<!ELEMENT uncertain EMPTY>
<!ATTLIST uncertain
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "uncertain"
>
<!ELEMENT vAlt (((plus) | minus | any | none | dft | uncertain | null | sym | nbr | msr | rate | str | vAlt | fs), ((plus) | minus | any | none | dft | uncertain | null | sym | nbr | msr | rate | str | vAlt | fs)+)>
<!ATTLIST vAlt
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	mutExcl (Y | N) #IMPLIED
	TEIform CDATA "vAlt"
>
<!ELEMENT vDefault ((alt | fs | vAlt | null | minus | plus | any | none | dft | msr | nbr | rate | str | sym | uncertain)+ | (if)+)>
<!ATTLIST vDefault
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "vDefault"
>
<!ELEMENT vRange (alt | fs | vAlt | null | minus | plus | any | none | dft | msr | nbr | rate | str | sym | uncertain)>
<!ATTLIST vRange
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "vRange"
>
